<html>
<head>
	<style> 
		body {
			background-color: #fff8e7;
			font-family: calibri;
			}
	</style>
</head>
<body>
	<h1 style="text-align:center;">The Martian</h1>
	<hr/>
	<center><img src="TheMartianCover.jpg" alt="Cover of the 2014 release"></center>
	<p>
		The Martian is a book written by <a href="AndyWeir.html">Andy Weir</a>. While it was initially self-published in 2011, <a href="CrownPublishing.html">Crown Publishing</a> bought the rights and republished it in 2014.
	</p>
</body>
</html>