<html>

<head>

  <title>Notice Me Fraij!</title>
  <!-- css -->
  <!--<link rel="stylesheet" type="text/css" href="static/css/index.css">-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap_min.css" >
    <style>
    #col-2{width:50%;}
    #col-1{float:center;}
    </style>

</head>

<div class="container">
    <div class="jumbotron text-center">
    <h1>Team Notice Me Fraij!</h1>
    <h2><u>Team Members:</u></h2>
    </div>

    <div class = "row">
    <div id="col-2">
    <h4><li>Christina Hoang</li></h4>
    <img src="static/images/Christina_Hoang.jpg" width="150" height="150">
    <ul>
    <li><strong>3rd year Chemical Engineering Major from Houston, Texas</strong></li>
    <li><strong>major responsibilities: </strong></li>
    <li><strong>number of commits: 7</strong></li>
    <li><strong>number of issues: 10</strong></li>
    <li><strong>number of unit test: N/A</strong></li>
    </ul>
    </div>

    <div id ="col-2">
    <h4><li>Jeff Hou</li></h4>
    <img src="static/images/Jeff_Hou.jpg" width="150" height="150">
    <ul>
    <li><strong>4th year Mechanical Engineering Major from Houston, Texas</strong></li>
    <li><strong>major responsibilities: </strong></li>
    <li><strong>number of commits: 11</strong></li>
    <li><strong>number of issues: 0</strong></li>
    <li><strong>number of unit test: N/A</strong></li>
    </ul>
    </div>
    </div>

    <div class = "row">
    <div id = "col-2">
    <h4><li>Shayaan Jagtap</li></h4>
    <img src="static/images/Shayaan_Jagtap.jpg" width="150" height="150">
    <ul>
    <li><strong>4th year Science and Technology Management Major from Austin, Texas</strong></li>
    <li><strong>major responsibilities: </strong></li>
    <li><strong>number of commits: </strong></li>
    <li><strong>number of issues: 0</strong></li>
    <li><strong>number of unit test: N/A</strong></li>
    </ul>
    </div>

    <div id = "col-2">
    <h4><li>Jacob Temple</li></h4>
    <img src="static/images/Jacob_Temple.jpg" width="150" height="150">
    <ul>
    <li><strong>4th year Mathematics major from Dickinson, Texas</strong></li>
    <li><strong>major responsibilities: </strong></li>
    <li><strong>number of commits: </strong></li>
    <li><strong>number of issues: 0</strong></li>
    <li><strong>number of unit test: N/A</strong></li>
    </ul>
    </div>
    </div>

    <div class = "row">
    <div id = "col-2">
    <h4><li>Jacob Vanderlinden</li></h4>
    <img src="static/images/Jacob_Vanderlinden.jpg" width="150" height="150">
    <ul>
    <li><strong>4th year Mathematics Major from El Paso, Texas</strong></li>
    <li><strong>major responsibilities: </strong></li>
    <li><strong>number of commits: </strong></li>
    <li><strong>number of issues: 0</strong></li>
    <li><strong>number of unit test: N/A</strong></li>
    </ul>
    </div>

    <div id = "col-2">
    <h4><li>William Walker</li></h4>
    <img src="static/images/William_Walker.jpg" width="150" height="150">
    <ul>
    <li><strong>3rd year Mathematics Major from Scottsdale, Arizona</strong></li>
    <li><strong>major responsibilities: </strong></li>
    <li><strong>number of commits: 7</strong></li>
    <li><strong>number of issues: 1</strong></li>
    <li><strong>number of unit test: N/A</strong></li>
    </ul>
    </ul>
    </div>
    </div>

  </div>

  <div class="jumbotron text-center">
    <div id="sm-1">
    <h3><u>Stats:</u></h3>
    <h4>Total number of commits: 33</h4>
    <h4>Total number of issues: 11</h4>
    <h4>Total number of unit tests: N/A</h4>
    <a href="https://github.com/Jacobbtemple/cs329e-idb/issues">GitHub Issue Tracker</a><br />
    <a href="https://github.com/Jacobbtemple/cs329e-idb">GitHub Repo</a><br />
    <a href="https://github.com/Jacobbtemple/cs329e-idb/wiki">GitHub Wiki</a><br />
    </div>
    <hr />



    <div id="sm-1">
    <h3><u>Data:</u></h3>
    <a href="http:www.wikipedia.org">Wikipedia</a>
    </div>
    <hr />

  <div class="sm-1">

    <h3><u>Tools:</u></h3>
    <strong>Python</strong><br />
    <strong>Flask</strong><br />
    <strong>JavaScripts</strong><br />
    <strong>Bootstrap</strong><br />
    <strong>Google Cloud Platform</strong><br />
    <strong>NameCheap</strong><br />
    <strong>html</strong><br />
    <strong>css</strong><br />
    <strong>github</strong><br />
    <strong>Slack</strong><br />
  </div>
  </div>

</html>