<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>Authors</title>

      <!-- javascript to sort a table -->
      <script src="static/js/sorttable.js"></script>
      <link rel="stylesheet" type="text/css" href="../static/css/bootstrap_min.css">

	</head>

  <div id="title" class="text-center title" style="color:DodgerBlue">
    <br>
    <h1 class="text-center">List of Authors</h1>
  </div>
  <hr/>

  <div class="text-center">
    <button class="btn-default"><a href={{ url_for('splash') }}>Go Back to Splash</a><br/></button>
  </div>

  <div class="text_center">
  <br>
  <table margin-left="10px" cellpadding="5px" class="sortable table-bordered text-center" style="margin: auto; padding: 15px">
		<thead>
		  <tr><th>Name</th><th>Birthday</th><th>Education</th><th>Nationality</th><th>Description</th><th>Alma Mater</th></tr>
		</thead>
		<tbody>
		  <tr><td><a href = {{ url_for('jkrowling') }}>J. K. Rowling</a></td><td>1965-07-31</td><td>Bachelor of Arts</td><td>British</td><td>Joanne "Jo" Rowling, OBE, FRSL, pen names J. K. Rowling and Robert Galbraith, is a British novelist, screenwriter and film producer best known as the author of the Harry Potter fantasy series. </td><td>University of Exeter</td></tr>
		  <tr><td><a href = {{ url_for('mariopuzo') }}>Mario Puzo</a></td><td>1920-10-15</td><td>Unknown</td><td>American (Italo-American)</td><td>Mario Gianluigi Puzo was an American author, screenwriter and journalist. He is known for his crime novels about the Mafia, most notably The Godfather, which he later co-adapted into a three-part film saga directed by Francis Ford Coppola.</td><td>City College of New York</td></tr>
      <tr><td><a href = {{ url_for('heinlein') }}>Robert A. Heinlein</a></td><td>1907-07-07</td><td>Military</td><td>American</td><td>Robert Anson Heinlein was an American science fiction writer. Often called the "dean of science fiction writers", his sometimes controversial works continue to have an influential effect on the genre, and on modern culture more generally.</td><td>United States Naval Academy</td></tr>

		</tbody>
		<tfoot>
		<!-- example of calculating totals from a table-->
		<!--<tr><td>TOTAL</td><td>£45,000</td></tr-->
		</tfoot>
		</table>
  </div>

	</body>
</html>
