<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>Authors</title>
  <!--<link rel="stylesheet" type="text/css" href="static/css/index.css">-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet">
      <!-- javascript to sort a table -->
      <script src="static/js/sorttable.js"></script>

      <!-- Custom fonts for this template -->
      <!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'> -->

      <!-- Custom styles for this template -->
      <link rel="stylesheet" type="text/css" href="../static/css/simple.css">



	</head>

	<body>
		<h1>List of Authors</h1>
		<hr/>
		<a href={{ url_for('splash') }}>Go Back to Splash</a><br/>
		<table class="sortable">
		<thead>
		  <tr><th>Name</th><th>Birthday</th><th>Education</th><th>Nationality</th><th>Description</th><th>Alma Mater</th></tr>
		</thead>
		<tbody>
		  <tr><td><a href = {{ url_for('jkrowling') }}>J. K. Rowling</a></td><td>1965-07-31</td><td>Bachelor of Arts</td><td>British</td><td>Joanne "Jo" Rowling, OBE, FRSL, pen names J. K. Rowling and Robert Galbraith, is a British novelist, screenwriter and film producer best known as the author of the Harry Potter fantasy series. </td><td>University of Exeter</td></tr>
		  <tr><td><a href = {{ url_for('mariopuzo') }}>Mario Puzo</a></td><td>1920-10-15</td><td>Unknown</td><td>American (Italo-American)</td><td>Mario Gianluigi Puzo was an American author, screenwriter and journalist. He is known for his crime novels about the Mafia, most notably The Godfather, which he later co-adapted into a three-part film saga directed by Francis Ford Coppola.</td><td>City College of New York</td></tr>
      <tr><td><a href = {{ url_for('heinlein') }}>Robert A. Heinlein</a></td><td>1907-07-07</td><td>Military</td><td>American</td><td>Robert Anson Heinlein was an American science fiction writer. Often called the "dean of science fiction writers", his sometimes controversial works continue to have an influential effect on the genre, and on modern culture more generally.</td><td>United States Naval Academy</td></tr>
      
		</tbody>
		<tfoot>
		<!-- example of calculating totals from a table-->
		<!--<tr><td>TOTAL</td><td>£45,000</td></tr-->
		</tfoot>
		</table>
	</body>
</html>
