<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>Books</title>
  <!--<link rel="stylesheet" type="text/css" href="static/css/index.css">-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet">

      <link rel="stylesheet" type="text/css" href="../static/css/agency.min.css" >
      <!-- javascript to sort a table -->
      <script src="static/js/sorttable.js"></script>
	</head>

	<body>
		<h1>List of Books</h1>
		<hr/>
		<a href={{ url_for('splash') }}>Go Back to Splash</a><br/>
		<table class="sortable">
		<thead>
		  <tr><th>Title</th><th>Google ID</th><th>ISBN</th><th>Publication Date</th><th>Author</th><th>Publisher</th></tr>
		</thead>
		<tbody>
		  <tr><td><a href = {{ url_for('sorcerersstone') }}>Harry Potter and the Sorcerer's Stone</a></td><td>wrOQLV6xB-wC</td><td>9781781100486</td><td>2015-12-08</td><td><a href = {{ url_for('jkrowling') }}>J. K. Rowling</a></td><td><a href = {{ url_for('pottermore') }}>Pottermore</a></td></tr>
		  <tr><td><a href = {{url_for('thegodfather')}}>The Godfather</a></td><td>WHalw9A5h_cC</td><td>9781101043110</td><td>2005-10-04</td><td><a href = {{ url_for('mariopuzo') }}>Mario Puzo</a></td><td><a href = {{ url_for('penguingroup') }}>Penguin Group</a></td></tr>
		  <tr><td>Book 3</td><td></td><td></td><td></td><td></td><td></td></tr>
		</tbody>
		<tfoot>
		<!-- example of calculating totals from a table-->
		<!--<tr><td>TOTAL</td><td>£45,000</td></tr-->
		</tfoot>
		</table>
		<!-- the "url_For('<name>') is the name of the function in app2.py -->
	</body>
</html>
