<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- -->
    <link href="static/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/Bootstrap/css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <link href="static/css/Bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <style>
  </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="color:#fff" href={{ url_for('splash') }}>BOOKHUB</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a style="color:#fff" href=/about>ABOUT</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#fff" role="button" aria-haspopup="true" aria-expanded="false">PILLARS<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href={{ url_for('books') }}>BOOKS</a></li>
              <li><a href={{ url_for('publishers') }}>PUBLISHERS</a></li>
              <li><a href={{ url_for('authors') }}>AUTHORS</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center" style="font-family: 'Montserrat', sans-serif;">
    <h1>{{title}}</h1>
    <div class = "cover"><img src = "{{image_url}}"></div>
  </div>

  <div class = "container">
    <div class = "row">
      <div class = "col-md-6 text-left">
        <h2>Information: </h2>
        <p><b>Google ID: </b>{{google_id}}</p>
        <p><b>ISBN: </b>{{isbn}}</p>
        <p><b>Title: </b>{{title}}</p>
        <p><b>Publication Date: </b>{{publication_date}}</p>
        <p><b>Description: </b>{{description}}</p>
        <p><a href = "{{image_url}}"><b>Image URL</b></a></p>
      </div>

      <br>
      <div class = "col-md-6 text-left">
        <p><b>Authors of {{title}}</b></p>
        {% for i in info %}
        <p><a href =  "/authors/{{i.author_name}}">{{i.author_name}}</a></p>
        {% endfor %}

        <br>
        <br>

        <p><b>Publishers associated with {{title}}</b></p>
        {% for i in info %}
        <p><a href = "/publishers/{{i.publisher_name}}">{{i.publisher_name}}</a></p>
        {% endfor %}

        <br>
  </body>
</html>
