<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>Books</title>
  <!--<link rel="stylesheet" type="text/css" href="static/css/index.css">-->
  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" -->
      <!-- rel="stylesheet"> -->

      <link rel="stylesheet" type="text/css" href="../static/css/bootstrap_min.css">

      <!-- javascript to sort a table -->
      <script src="static/js/sorttable.js"></script>
	</head>

	<body>


    <div id="title" class="text-center title" style="color:DodgerBlue">
      <br>
      <h1 class="text-center">List of Books</h1>
    </div>
		<hr/>

    <div class="text-center">
      <button class="btn-default"><a href={{ url_for('splash') }}>Go Back to Splash</a><br/></button>
    </div>


    <div class="text_center">
    <br>
		<table class="sortable table-bordered text-center" style="margin: auto; style">
		<thead>
		  <tr><th>Title</th><th>&nbspGoogle ID&nbsp</th><th>ISBN</th><th>&nbspPublication Date&nbsp</th><th>Author</th><th>Publisher</th></tr>
		</thead>
		<tbody>
		  <tr><td><a href = {{url_for('sorcerersstone') }}>&nbspHarry Potter and the Sorcerer's Stone&nbsp</a></td><td>&nbspwrOQLV6xB-wC&nbsp</td><td>&nbsp9781781100486&nbsp</td><td>2015-12-08</td><td><a href = {{ url_for('jkrowling') }}>J. K. Rowling</a></td><td><a href = {{ url_for('pottermore') }}>Pottermore</a></td></tr>
		  <tr><td><a href = {{url_for('thegodfather')}}>The Godfather</a></td><td>WHalw9A5h_cC</td><td>9781101043110</td><td>2005-10-04</td><td><a href = {{ url_for('mariopuzo') }}>Mario Puzo</a></td><td><a href = {{ url_for('penguingroup') }}>Penguin Group</a></td></tr>
		  <tr><td><a href = {{url_for('stranger')}}>Stranger in A Strange Land</a></td><td>Kn1bNU91sAoC</td><td>978-0-441-79034-0</td><td>1960-06-01</td><td><a href = {{ url_for('heinlein')}}>Robert A. Heinlein</a></td><td><a href = {{ url_for('putnam') }}>&nbspC. G. Putnam's Sons&nbsp</a></td></tr>
		</tbody>
		<tfoot>
		<!-- example of calculating totals from a table-->
		<!--<tr><td>TOTAL</td><td>£45,000</td></tr-->
		</tfoot>
		</table>
		<!-- the "url_For('<name>') is the name of the function in app2.py -->
  </div>
	</body>
</html>
