<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>Authors</title>
		<link rel="stylesheet" type="text/css" href="static/css/index.css">
	</head>

	<body>
		<h1>J. K. Rowling</h1>
		<hr />
      <p>"born": "1965-07-31"</p>
      <p>"name": "J. K. Rowling"</p>
      <p>"education": "Bachelor of Arts"</p>
      <p>"nationality": "British"</p>
      <p>"description": "Joanne \"Jo\" Rowling, OBE, FRSL, pen names J. K. Rowling and Robert Galbraith, is a British novelist, screenwriter and film producer best known as the author of the Harry Potter fantasy series. "</p>
      <p>"alma_mater": "University of Exeter"</p>
      <p>"wikipedia_url": "https://en.wikipedia.org/wiki/J._K._Rowling"</p>
      <p>"image_url": <a href = "http://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/J._K._Rowling_2010.jpg/220px-J._K._Rowling_2010.jpg"></a></p>
       	<hr />
 	</body>
</html>
