
<html>
<head>
	<style> 
		body {
			background-color: #fff8e7;
			font-family: calibri;
			}
	</style>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet">
</head>
<body>
	<h1 style="text-align:center;">Penguin Group</h1>
	<hr/>
	<p>"founded": "1935"</p>
    <p>"name": "Penguin Group"</p>
    <p>"location": "City of Westminster, London"</p>
    <p>"wikipedia_url": "https://en.wikipedia.org/wiki/Penguin_Group</p>
    <p>"description": "The Penguin Group is a trade book publisher, part of Penguin Random House. It is owned by Pearson PLC, the global education and publishing company, and Bertelsmann, the German media conglomerate. </p>
    <p>"parent company": "Penguin Random House"</p>
    <p>"image_url": "http://upload.wikimedia.org/wikipedia/en/thumb/1/1c/Penguin_logo.svg/150px-Penguin_logo.svg.png"</p>
    <p>"website": "http://PenguinGroup.com"</p>
    <hr/>
</body>
