<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>Publishers</title>
  <!--<link rel="stylesheet" type="text/css" href="static/css/index.css">-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet">
	</head>

	<body>
		<h1>Pottermore</h1>
    <img src = "/static/images/Pottermore.png">
		<hr />
    <h2>Information:</h2>
        <p><a href = "https://en.wikipedia.org/wiki/Pottermore">Wikipedia URL</a></p>
        <p>Name: Pottermore</p>
        <p>Description: Pottermore is the digital publishing, e-commerce, entertainment, and news company from J.K. Rowling and is the global digital publisher of Harry Potter and J.K. Rowling's Wizarding World.</p>
        <p>Owner: J. K. Rowling</p>
        <p><a href = "http://upload.wikimedia.org/wikipedia/en/thumb/6/6f/Pottermore.png/225px-Pottermore.png">Image URL</a></p>
        <p><a href= "http://www.pottermore.com">Website</a></p>
       	<hr />
      <h1>Links:</h1>
      <h2>Books:</h2>
      <p><a href = {{ url_for('sorcerersstone') }}>Harry Potter and the Sorcerer's Stone</a></p>
      <h2>Authors:</h2>
      <p><a href = {{ url_for('jkrowling') }}>J. K. Rowling</a></p>
 	</body>
</html>
