<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
	<head>
		<title>Publishers</title>
		<link rel="stylesheet" type="text/css" href="static/css/index.css">
	</head>

	<body>
		<h1>Pottermore</h1>
		<hr />
        <p>"wikipedia_url": "https://en.wikipedia.org/wiki/Pottermore"</p>
        <p>"name": "Pottermore"</p>
        <p>"description": "Pottermore is the digital publishing, e-commerce, entertainment, and news company from J.K. Rowling and is the global digital publisher of Harry Potter and J.K. Rowling's Wizarding World."</p>
        <p>"owner": "J. K. Rowling"</p>
        <p>"image_url": <a href = "http://upload.wikimedia.org/wikipedia/en/thumb/6/6f/Pottermore.png/225px-Pottermore.png"></a></p>
        <p>"website": "http://www.pottermore.com\nshop.pottermore.com"</p>
       	<hr />
 	</body>
</html>
