
<html>
<head>
	<style>
		body {
			background-color: #fff8e7;
			font-family: calibri;
			}
	</style>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/agency.min.css" >
</head>
<body>
	<h1 style="text-align:center;">G. P. Putnam's Sons</h1>
	<img src = "/static/images/Putnam_Logo.png">
	<hr/>
	<a href={{ url_for('splash') }}>Go Back to Splash</a><br/>
	<p>"founded": "1853"</p>
    <p>"name": "G.P. Putnam's Sons"</p>
    <p>"location": "New York, New York"</p>
    <p>"wikipedia_url": "https://en.wikipedia.org/wiki/G._P._Putnam%27s_Sons</p>
    <p>"description": "G. P. Putnam's Sons is an American book publisher based in New York City, New York. Since 1996, it has been an imprint of the Penguin Group.". </p>
    <p>"parent company": "Penguin Group"</p>
    <p>"image_url": "https://upload.wikimedia.org/wikipedia/commons/3/3e/Putnam_Logo.png"</p>
    <p>"website": "http://PenguinGroup.com"</p>
    <hr/>
		<h1>Links:</h1>
      <h2>Authors:</h2>
      <p><a href = {{ url_for('heinlein') }}>Robert A. Heinlein</a></p>
      <h2>Books:</h2>
      <p><a href = {{ url_for('stranger') }}>Stranger in a Strange Land</a></p>
</body>
