<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>



<head>

	<title>Notice Me Fraij!</title>
	<!-- css -->
  <!--<link rel="stylesheet" type="text/css" href="static/css/index.css">-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap_min.css" >

  <!-- style tag used before css -->
  <style>
  .parallax {
      /* The image used */
      background-image: url("static/images/splash_books.jpg");

      /* Set a specific height */
      height: 300px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  </style>

</head>

<body>




  <!-- <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#Stats">Stats</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->


  <!--
  <nav class="navbar-default">
    <ul>
      <li><a class="navbar-nav" href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </nav> -->


  <div id="Project" class="title" style="color:DodgerBlue">
    <br>
    <h1 class="container-fluid text-center">&nbspBookHub</h1>
    <br>
  	<div class="parallax"></div>
  </div>

  <div id="Purpose" class="text-center title">
    <br>
    <br>
  	 <h2 style="color:tomato ">&nbspPurpose of this site</h2>
    <br>
  	 <p class="text-center">&nbspThis site contains information about Books and their respective Authors and Publishers</p>
    <br>
    <hr/>
  </div>

  <div id="Pillar" class="text-center">
    <br>
  	<h2 style="color:tomato">&nbspPillars</h2>
    <br>
  	   <a href={{ url_for('books') }}><p>&nbspBooks</p></a><br/>
  	   <a href={{ url_for('publishers') }}><p>&nbspPublishers</p></a><br/>
  	   <a href={{ url_for('authors') }}><p>&nbspAuthors</p></a><br/>
  </div>

  <hr/>
  <br>
  <div id="About Us" class="text-center">
    <h2 style="color:tomato">&nbspAbout</h2>
  <br>
    <a href={{ url_for('about') }}><p>&nbspAbout us</p></a><br/>
</body>
</html>
