<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
	<title>Notice Me Fraij!</title>
	<!-- css -->
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>
<body>
	<h1 class="firsth1">Project 3</h1>
	<hr />
	<img src="static/images/splash_books.jpg">
	<hr />
	<h2>Purpose of this site</h2>
	<p>This site contains information about characters, books, and authors</p>
	<hr />
	<h2>Pillars</h2>
	<a href={{ url_for('books') }}><p>Books</p></a><br/>
	<a href={{ url_for('publishers') }}><p>Publishers</p></a><br/>
	<a href={{ url_for('authors') }}><p>Authors</p></a><br/>
</body>

</html>