<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
	<title>Notice Me Fraij!</title>
	<!-- css -->
  <!--<link rel="stylesheet" type="text/css" href="static/css/index.css">-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/agency.min.css" >
</head>
<body>
	<h1 class="firsth1">&nbspProject 3</h1>
	<hr />
	<img src="static/images/splash_books.jpg">
	<hr />
	<h2>&nbspPurpose of this site</h2>
	<p>&nbspThis site contains information about characters, books, and authors</p>
	<hr />
	<h2>&nbspPillars</h2>
	<a href={{ url_for('books') }}><p>&nbspBooks</p></a><br/>
	<a href={{ url_for('publishers') }}><p>&nbspPublishers</p></a><br/>
	<a href={{ url_for('authors') }}><p>&nbspAuthors</p></a><br/>
	<hr />
	<h2>&nbspThis is our group name</h2>
	<h3>&nbsp<u>Our Team:</u></h3>
	<ul>
	<h4>&nbsp<li>William Walker</li></h4>
	<img src="static/images/William_Walker.jpg" width="150" height="150">
	<ul>
	<li><strong>this is where the bio should go</strong></li>
	<li><strong>major responsibilities</strong></li>
	<li><strong>number of commits</strong></li>
	<li><strong>number of issues</strong></li>
	<li><strong>number of unit test: N/A</strong></li>
	</ul>
	<h4>&nbsp<li>Person 2</li></h4>
	<ul>
	<li><strong>this is where the bio should go</strong></li>
	<li><strong>major responsibilities</strong></li>
	<li><strong>number of commits</strong></li>
	<li><strong>number of issues</strong></li>
	<li><strong>number of unit test: N/A</strong></li>
	</ul>
	</ul>
</body>

</html>
