
<html>
<head>
	<title>The Godfather</title>
	<style>
	</style>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/agency.min.css" >
</head>
<body>
	<h1 style="text-align:center;">The Godfather</h1>
	<center><img src="/static/images/TheGodfatherCover.jpg"/></center>
	<hr/>
	<h2>Information:</h2>
	<p>Google ID: WHalw9A5h_cC</p>
    <p>Title: The Godfather</p>
    <p>ISBN: 9781101043110</p>
    <p>Publication Date: 2005-10-04</p>
    <p><a href="https://books.google.com/books/content/images/frontcover/WHalw9A5h_cC?fife=w500">Image URL</a></p>
    <p>Description: The epic tale of crime and betrayal that became a global phenomenon. Almost fifty years ago, a classic was born. A searing portrayal of the Mafia underworld, The Godfather introduced readers to the first family of American crime fiction, the Corleones, and their powerful legacy of tradition, blood, and honor. The seduction of power, the pitfalls of greed, and the allegiance to family\u2014these are the themes that have resonated with millions of readers around the world and made The Godfather the definitive novel of the violent subculture that, steeped in intrigue and controversy, remains indelibly etched in our collective consciousness. WITH A NEW INTRODUCTION BY ANTHONY PUZO From the Trade Paperback edition.</p>
    <hr/>
    <h1>Links:</h1>
      <h2>Authors:</h2>
      <p><a href = {{ url_for('mariopuzo') }}>Mario Puzo</a></p>
      <h2>Publishers:</h2>
      <p><a href = {{ url_for('penguingroup') }}>Penguin Group</a></p>
</body>
</html>
